extends ../layout/default
block content
    .container
        form(method="POST" action="/articles")
            .form-group
                label(for='title') Title
                input#title.form-control(type='text' aria-describedby='titleHelp' placeholder='Enter title')
                small#titleHelp.form-text.text-muted Your article title

            .form-group
                label(for='body') Article content
                textarea#body.form-control(rows='10')

            button.btn.btn-primary(type='submit') Submit
